* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #000000, #0a8045, #000000, #0a8045);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    margin: 0;
    overflow: hidden;
}

@keyframes Gradient {
    0% {
        background-position: 25% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 25% 50%
    }
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 4px 8px rgb(76, 76, 76);
}

#nav-title {
    font-family: 'maves';
    color: aliceblue;
    margin-right: auto;
    font-size: 2.5em;
    font-weight: lighter;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
    letter-spacing: 0.05em;
}

header li a {
    font-family: 'rocket';
    font-weight: bolder;
    background-color: #000000;
    padding: 10px 10px;
    transition: all 0.3s ease 0s;
}

header li a:hover {
    background-color: #244b48;
}





